# Ignore all node_modules directories
node_modules/
03/exercise/node_modules
03/exercise/pnpm-lock.yaml
03/final/node_modules
03/final/pnpm-lock.yaml
04/exercise/node_modules
04/exercise/pnpm-lock.yaml


