# Ignore all node_modules directories
node_modules/
.DS_Store
03/exercise/node_modules
03/exercise/pnpm-lock.yaml
03/final/node_modules
03/final/pnpm-lock.yaml

04/exercise/node_modules
04/exercise/pnpm-lock.yaml

05/exercise/node_modules
05/exercise/pnpm-lock.yaml

06/node_modules
06/pnpm-lock.yaml

07/node_modules
07/pnpm-lock.yaml
